<html>

<head>
<style>
#navbar_button{color:black;}
#navbar {overflow:hidden;}
body {margin:0px;}

</style>
</head>

<body>
<div id="navbar">
<a id="navbar_button" href="/allcontent" style="float: right;padding: 20px; margin: 3px;text-decoration: none; ">All Content</a>
<!--   <a id="navbar_button" href="/submission" style="float: right; padding: 20px; margin: 3px;text-decoration: none; ">Submission</a> -->
<a id="navbar_button" href="/projectboard" style="float: right; padding: 20px; margin: 3px;text-decoration: none;">Project Board</a>
<a id="navbar_button" href="http://45.79.170.4" style="float: left;padding: 20px; margin: 3px;text-decoration: none;font-weight:bolder;; ">W I M S O N</a>
</div>
</body>

</html>
