<html>

<head>

{% include "/var/www/coursewiki/search/templates/search/navbar.html" %}

</head>

<body>

{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'registration/style01.css' %}" />

   

<form id='login-form'  method='post'>
  {% csrf_token %}




  <!-- <input type="hidden" name="next" value="/"></input> -->	
  <input type="text" name="username" placeholder="Username" id="id_username" required>{{form.username.errors}}
  <input type="password" name="password" placeholder="Password" id="id_password" required>{{form.password.errors}}
  <!--<input type="hidden" name="next" value="/">
  -->
  <button type='submit'>Login</button>
  <a href="http://45.79.170.4/accounts/register">Or Register Here..<a>
  <br><a href="/accounts/password/reset">Forgot Password?</a>

</form>




</body>


</html>
